language: python
python:
  - "3.7"
install:
  - pip install pytest>=4.6
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install -r requirements-optional.txt
  - python setup.py install
script:
  - pytest --cov=./
after_success:
  - codecov
